<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Population Census</title>
  <link rel="stylesheet" href="/static/Template.css">
  <link rel="stylesheet" href="/static/Profile.css">
</head>
<body>
  <header>
    <h1>Population<br>Census</h1>
  </header>

  <main>
    <aside class="sidebar">
      <div class="menu-header">
        <button class="menu-btn">☰</button>
      </div>

      <ul class="menu">
        <li><span class="circle"></span> <a href="/templates/Admin/HomepageAdmin.html">Home</a></li>
        <li><span class="circle"></span> <a href="/templates/Admin/AddTeams.html">Teams</a></li>
        <li><span class="circle"></span> <a href="/templates/Admin/AddAccounts.html">Add Account</a></li>
        <li><span class="circle"></span> <a href="/templates/Admin/List.html">List</a></li>
      </ul>
    </aside>

    <section class="content">
      <div class="topbar">
        <div class="top-left"></div>
        <div class="top-right">
          <div class="user">
            <span class="avatar"></span>
            <select>
              <option>Employee</option>
            </select>
          </div>
        </div>
      </div>


      <!-- Profile Section -->
      <div class="profile-container">
        <div class="profile-left">
          <div class="profile-picture">Picture</div>
        </div>

        <div class="profile-right">
          <div class="profile-field">First Name</div>
          <div class="profile-field">Middle Name</div>
          <div class="profile-field">Last Name</div>
          <div class="profile-field">Education</div>
          <div class="profile-field">Contact number</div>
        </div>
      </div>

      <div class="profile-extra">
        <div class="profile-address">Address</div>
        <div class="profile-row">
          <div class="profile-small">Birth date</div>
          <div class="profile-small">Joined Sept 22</div>
        </div>
      </div>
    </section>
  </main>
</body>
</html>
